@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Roecky's Window Cleaning!</h1>
    <p>Here at Rockey's, quality and service are of our upmost priority! We have 15 offerings of cleaning supplies well stocked, company apparel, and our specialty Robotic Washer avaialble fo rent! </p>
    <h3>Our Staff</h3>
    <ul>
        <li>Rockey J, Owner</li>
        <li>Natasha, Office Manager</li>
        <li>Boris, Warehouse Manager</li>
        <li>Dudley, Service Supervisor</li>
        <li>Nell, Sales Manager</li>
    </ul>
</div>
