<h2>Index of..</h2>
<div>List an index of products, orders, or rentals based on route parameters<h4><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Edit">Admin</a></h4></div>